{% extends "forums/base.html" %}
{% load i18n static forum_comments %}

{% block title %}{{ forum }}{% endblock %}

{% block "wrapper" %}
<div class="container-flex forums-app forums-topic-list">
{% endblock "wrapper" %}

{% block "forumheader" %}
  {% if forum %}
  <div class="forum-sub-header">
    <a class="forum-name" href="{{ forum.get_absolute_url }}"><img src="{{ forum.icon.url }}" title="{{ forum }}"> {{ forum }}</a>
    <small class="forum-description">{{ forum.desc }}</small>
  </div>
  {% endif %}
{% endblock %}

{% block "tools" %}
  {% if topic_list %}
  <div class="btn-group">
    {% if forum %}
      {% if not request.user.is_authenticated %}
        <a class="btn btn-sm btn-danger" href="{% url 'auth_login' %}?next={{ request.path }}"><span class="glyphicon glyphicon-lock"></span> Login to Post</a>
      {% elif forum.content_type_id %}
        <a class="btn btn-sm btn-default disabled"><span class="glyphicon glyphicon-lock"></span> Content Forum</a>
      {% else %}
        <a href="{% url "forums:create" forum.slug %}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> New Topic</a>
      {% endif %}
    {% endif %}
    <a href="#" id="seenall" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span> {% trans "Mark all as Read" %}</a>
    <a href="?{% if request.GET.count == "1" %}" class="active {% else %}count=1" class="{% endif %}btn btn-sm btn-default"><span class="glyphicon glyphicon-bell"></span> {% trans "Unanswered" %}</a>
  </div>
  {% endif %}

  {% if request.user.is_authenticated and forum %}
    <div class="btn-group">
      {% with forum|subscription:request.user as subscription %}
        {% if not subscription %}
          <a class="btn btn-sm btn-danger" href="{% url "alert.subscribe" "forums.forum_alert" forum.pk %}?next={{ request.path }}&post=1">
            <span class="glyphicon glyphicon-heart"></span> {% trans "Subscribe" %}
          </a>
        {% else %}
          <a class="btn btn-sm btn-default" href="{% url "alert.unsubscribe" "forums.forum_alert" forum.pk %}?next={{ request.path }}&post=1">
            <span class="glyphicon glyphicon-heart-empty"></span> {% trans "Unsubscribe" %}
          </a>
        {% endif %}
      {% endwith %}
      {% if request.user.is_moderator %}
        {% with forum|mod_subscription:request.user as subscription %}
          {% if not subscription %}
            <a class="btn btn-sm btn-warning" href="{% url "alert.subscribe" "forums.moderator_forum_alert" forum.pk %}?next={{ request.path }}&post=1">
              <span class="glyphicon glyphicon-eye-open"></span> {% trans "ModWatch" %}
            </a>
          {% else %}
            <a class="btn btn-sm btn-default" href="{% url "alert.unsubscribe" "forums.moderator_forum_alert" forum.pk %}?next={{ request.path }}&post=1">
              <span class="glyphicon glyphicon-eye-close"></span> {% trans "ModUnWatch" %}
            </a>
          {% endif %}
        {% endwith %}
      {% endif %}
      <a href="{% url "alert.settings" "forums.forum_alert" %}?next={{ request.path }}" class="btn btn-sm btn-default" title="{% trans "Subscription Settings" %}"><span class="glyphicon glyphicon-wrench"></span></a>
    </div>
  {% endif %}

  {{ block.super }}
{% endblock %}

{% block "content" %}
  {% include "forums/topic_table.html" with topic_list=page_obj %}
{% endblock %}
