    <ul id="menu">
      {% for menu in menu_items %}
        <li id="menu_{{ menu.item.pk }}" class="{% if menu.item.icon %}iconized{% endif %} {% if menu.item.only_icon == False %}withtext{% endif %}">
            <a {% if menu.item.url %}href="{{ menu.item.url }}"{% endif %} title="{{ menu.item.title|default:'' }}">
                {% if menu.item.icon %}
                    <img src="/media/{{ menu.item.icon }}" alt="{{ menu.item.title|default:'' }}" />
                {% endif %}  
                {% if menu.item.only_icon == False or not menu.item.icon %}
                    {{ menu.item.name}}
                {% endif %}
            </a>
            {% if menu.submenu != None %}
                <ul>
                {% for sub_menu_item in menu.submenu %}
                  <li  class="{% if sub_menu_item.item.icon %}iconized{% endif %} {% if sub_menu_item.item.only_icon == False %}withtext{% endif %}">
                    <a href="{{ sub_menu_item.item.url }}">
                        {% if sub_menu_item.item.icon %}
                            <img src="/media/{{ sub_menu_item.item.icon }}" alt="{{ sub_menu_item.item.title|default:'' }}" />
                        {% endif %}
                        {% if sub_menu_item.item.only_icon == False or not sub_menu_item.item.icon %}
                            {{ sub_menu_item.item.name }}
                            {% if sub_menu_item.item.info != None %}
                                <span class="info">{{ sub_menu_item.item.info }}</span>
                            {% endif %}
                        {% endif %}
                    </a>
                  </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
      {% endfor %}
    </ul>
