{% extends "modal.html" %}
{% load i18n static inkscape %}

{% block title %}{% trans "Website Statistics" %}{% endblock %}

{% block "js" %}{{ block.super }}
  {{ stats.media }}
{% endblock %}

{% block "dialog-subtitle" %}
    <form method="GET" action="">
      <table class="table table-forum table-hover" style="width: 100%">
        <tbody>
          <tr class="active">
            <td>
                <select name="cadence" style="width: 100%">
<option value="week" {% if request.GET.cadence == "week" %}selected{% endif %}>Weekly</option>
<option value="day" {% if request.GET.cadence == "day" %}selected{% endif %}>Daily</option>
<option value="month" {% if request.GET.cadence == "month" %}selected{% endif %}>Monthly</option>
<option value="year" {% if request.GET.cadence == "year" %}selected{% endif %}>Yearly</option>
                </select>
            </th>
            <td><input type="text" placeholder="From (date/count)" name="from" value="{{ request.GET.from }}"/></th>
            <td><input type="text" placeholder="To (date/count)" name="to" value="{{ request.GET.to }}"/></th>
            <td class="text-right"><button type="submit">Filter</button></th>
          </tr>
        </tbody>
      </table>
    </form>
{% endblock %}

{% block "dialog-body" %}
  {% for stat in stats %}
    {{ stat.render }}
    <hr/>
  {% endfor %}
{% endblock %}
