{% load i18n %}

<h2>Agenda for {{ oce.start|date:"l jS M Y" }}</h2>

{# Existing agenda items, for editing if you created them #}
{% for agendum in oce.agenda.all %}
  {% if forloop.first %}
    <table style="width: 100%">
  {% endif %}

  <tr>
    <td><input type="checkbox" DISABLED/></td>
    <td style="width: 90%">{{ agendum }}</td>
    <td>{% if agendum.link %}<a href="{{ agendum.link }}">🔗</a>{% endif %}</td>
    <td style="white-space: nowrap;">
      {% if agendum.creator == request.user %}
      <a class="btn btn-default" href="{% url "calendars:edit_agendum" oce.event_id oce.pk agendum.pk %}" title="{% trans "Edit Item" %}">{% trans "edit" %}</a>
        <script>popUpLink('{% trans "Update this agendum and press OK?" %}', '{% trans "Cancel" %}', '{% trans "OK" %}', "", ["{% trans "Agenda Text" %}", "{{ agendum }}", "note"]);</script>

        <a class="btn btn-danger" href="{% url "calendars:edit_agendum" oce.event_id oce.pk agendum.pk %}" title="{% trans "Delete Item" %}">{% trans "delete" %}</a>
        <script>popUpLink('{% trans "Do you want to delete this agenda item?" %}', '{% trans "Cancel" %}', '{% trans "Delete" %}');</script>
      {% else %}
        <a href="{{ agendum.creator.get_absolute_url }}">{{ agendum.creator }}</a></td>
      {% endif %}
    </td>
  </tr>

  {% if forloop.last %}
    </table>
  {% endif %}
{% endfor %}

