/* License: AGPLv3 or later (http://www.gnu.org/licenses/), Copyright 2012, Martin Owens <doctormo@gmail.com> */

#page-news-archive h2 a {
  color: inherit;
}

.article {
  position: relative;
  margin: 5px 0 5px;
  border-bottom: 1px solid #eee;
  background-color: #fffffa;
  padding: 10px;
  overflow: hidden;
}
.article.unpub {
  border-radius: 7px;
  background-color: #eee;
  color: #999;
}

.article h2 {
  border: 0px;
  margin: 0.6em 0 0;
  padding: 5px;
}
.article.unpub h2 a,
.article.unpub a.readmore {
  color: #999;
}

.article p {
  margin: 5px;
}

.article .postdate {
  margin: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.article .readmore {
  margin: 15px 0 0;
  text-align: left;
  padding: 5px;
}
#page-news-archive #right-sidebar h2 {
  margin-top: 35px;
}
#page-news-archive #right-sidebar .article-actions {
  margin: 80px 0 0;
  padding: 0;
  list-style: none;
}
#page-news-archive #right-sidebar .article-actions li {
  margin: 0 0 0 -5px;
  font-size: 11px;
}
#page-news-archive #right-sidebar .article-actions a {
  padding: 4px 4px 4px 28px;
  background-position: 4px 50%;
  background-repeat: no-repeat;
}
#page-news-archive #right-sidebar .article-actions .action-subscribe {
  background-image: url(../images/rss.png);
}

